{% extends 'base/base.html' %} 
{% load static %}
{% block content %}
    <!-- Menu Principal -->
    <div class="container mt-5">
        <h1>Doe seu lar, adote um pet</h1>
        <p>Abaixo então os animais disponiveis para adoção. Selecione quem você quer adotar!</p>
        <div class="container flex-grow-1">
            <!-- Cards -->
            <div class="row">
                {% for pet in pets %}
                    {% include 'home/cards_pets.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if user.is_superuser %}
    <div class="container mt-5">
        <a href="{% url 'register_pet' %}" class="btn btn-outline-primary">Registrar pet</a>
    </div>
    {% endif %}
{% endblock %}
