{% extends 'base/base.html' %} 
{% load static %}
{% block content %}
    <!-- Conteúdo Principal -->
    <div class="container mt-5">
        <h1>Doe seu lar, adote um pet</h1>
        <p>Abaixo então os animais disponiveis para adoção. Selecione quem você quer adotar!</p>
        <div class="container flex-grow-1">
            <!-- Seu conteúdo aqui, incluindo os cards -->
            <div class="row">
                {% for i in pets %}
                    {% include 'home/cards_pets.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if user.auth == isadminuser %}
    <div class="container mt-5">
        <a href="{% url 'cadastra_pet' %}" class="btn btn-outline-primary">Registrar pet</a>
        <a class="btn btn-outline-secondary">Deletar pet</a>
    </div>
    {% endif %}
{% endblock %}
