<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="text-uppercase">Sobre Nós</h5>
                <p>
                    Esta é uma breve descrição sobre a empresa ou projeto. Você pode adicionar informações relevantes aqui.
                </p>
            </div>
            <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="text-uppercase">Contate-Nos</h5>
                <p>
                    Email: exemplo@exemplo.com<br>
                    Telefone: (00) 12345-6789
                </p>
            </div>
        </div>
        <div class="text-center p-3">
            © 2024 Nome da Sua Empresa. Todos os direitos reservados.
        </div>
    </div>
</footer>