<footer class="bg-light text-center text-lg-start fixed-bottom">
    <div class="container p-1">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h5 class="text-uppercase">Sobre Nós</h5>
                <p>
                    Um projeto que visa unir locais e pessoas com pets para adoção com uma distribuição geografica que favoreça o usuario.
                </p>
            </div>
            <div class="col-lg-6 col-md-12">
                <h5 class="text-uppercase">Contate-Nos</h5>
                <p>
                    Email: exemplo@exemplo.com<br>
                    Telefone: (00) 12345-6789
                </p>
            </div>
        </div>
        <div class="text-center p-3">
            © 2024 Nome da Sua Empresa. Todos os direitos reservados.
        </div>
    </div>
</footer>