{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">Ong que cuida de Animais</a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- Cadastro Dropdown -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="cadastroDropdown" role="button">Cadastro</a>
                    <div class="dropdown-menu" aria-labelledby="cadastroDropdown">
                        <a href="#" class="dropdown-item">Cadastrar Usuário</a>
                        <a href="#" class="dropdown-item">Cadastrar Petshop</a>
                        <a href="#" class="dropdown-item">Cadastrar Ong</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">{{ user.username }}</a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'home' %}" class="nav-link">Início <span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'sobre' %}" class="nav-link">Sobre</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contato' %}" class="nav-link">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
