* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Centraliza o conteúdo principal */
.container {
    margin-left: auto;
    margin-right: auto;
}

/* Contêiner principal */
.container-fluid {
    display: inline-block;
    justify-content: space-between;
    padding: 0 170px; /* Espaço para as barras laterais */
}

/* Conteúdo central */
.conteudo-central {
    flex: 1;
    margin-top: 5rem;
}

/* Espaço extra nas laterais para evitar sobreposição com as propagandas */
.container.mt-5 {
    padding-left: 0;
    padding-right: 0;
}

/* Estilo da Navbar */
.navbar {
    background-color: #007bff;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ffcc00 !important;
}

/* Estilo do footer */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

footer h5 {
    margin-bottom: 10px;
    color: #333;
}

footer p {
    color: #666;
}

/* Estilo do Card */
.card {
    width: 100%;
    max-width: 250px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 15px;
    background-color: #e5d0a6c7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.imagem-card {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-title, .card-text {
    font-size: 1.25rem;
    color: #333;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 0;
}

.button-group {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    gap: 5px;
}

.button-group .btn {
    width: 100%;
    padding: 8px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
