/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo da Navbar */
.navbar {
    background-color: #007bff; /* Azul do Bootstrap */
}

.navbar-brand, .nav-link {
    color: white !important; /* Texto branco */
}

.nav-link:hover {
    color: #ffcc00 !important; /* Cor do texto ao passar o mouse */
}

/* Estilo do footer */
footer {
    background-color: #f8f9fa; /* Cor de fundo do footer */
    padding: 20px 0;
}

footer h5 {
    margin-bottom: 10px;
    color: #333; /* Cor do título no footer */
}

footer p {
    color: #666; /* Cor do texto no footer */
}


.card {
    border: none; /* Remove borda do card */
    border-radius: 10px; /* Bordas arredondadas */
    transition: transform 0.2s; /* Efeito de transição ao passar o mouse */
    display: flex; /* Para usar flexbox */
    flex-direction: column; /* Alinha os filhos em coluna */
    height: 100%; /* Faz com que todos os cards ocupem a mesma altura */
    border: 1px solid #ccc;
    border-radius: 8px;
    min-height: 350px;  /* Altura mínima */
    max-height: 350px;  /* Altura máxima */
    min-width: 230px;   /* Largura mínima */
    max-width: 230px;   /* Largura mínima */
}

.card-body {
    flex-grow: 1; /* Permite que o corpo do card cresça para ocupar espaço */
}

/* Estilo da imagem do card */
.imagem-card {
    width: 150px;         /* Defina a largura fixa desejada */
    height: 150px;        /* Defina a altura fixa desejada */
    object-fit: cover;    /* Ajusta a imagem para preencher o espaço sem deformar */
    margin: 0 auto;      /* Centraliza a imagem horizontalmente */
}
.card:hover {
    transform: scale(1.05); /* Aumenta o card ao passar o mouse */
}

.card-img-top {
    border-radius: 10px 10px 0 0; /* Bordas arredondadas na imagem */
}

/* Estilo do texto do card */
.card-title {
    font-size: 1.25rem; /* Tamanho da fonte do título */
    color: #333; /* Cor do título */
}

.card-text {
    color: #555; /* Cor do texto da descrição */
}

/* Margem superior para o conteúdo principal */
.container {
    margin-top: 80px; /* Para espaçamento em relação ao navbar fixo */
}
/* Flexbox para garantir que o footer fique no final da página */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.min-vh-100 {
    min-height: 100vh; /* Garantir que a altura mínima seja a altura da tela */
}

.flex-grow-1 {
    flex-grow: 1; /* Permite que o conteúdo cresça para ocupar o espaço disponível */
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}



