{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<br>
<br>
<br>
<form action="{% url 'apply_login' %}" method="POST">  <!-- Alterar para POST -->
    {% csrf_token %}
    <div class="row">
        {% for field in form.visible_fields %}
            <div class="col-md-12 col-lg-12" style="margin-bottom: 10px;">
                <label for="{{ field.id_for_label }}" style="color: #e5d0a6c7; margin-bottom: 5px;">{{ field.label }}</label>
                {{ field }}  <!-- Renderiza o campo de input -->
            </div>
        {% endfor %}
        <div>
            <button type="submit" class="btn button-success col-12" style="padding: top 5px;">Logar</button>
        </div>
    </div>
</form>
{% endblock %}
